/* src/components/VariantTable.module.css */

.thId {
  width: 70px;
}
.thName {
  width: 180px;
}
.thStock {
  width: 110px;
}
.thThreshold {
  width: 110px;
}
.thPrice {
  width: 120px;
}
.thStatus {
  width: 120px;
}
.thActions {
  width: 250px;
}
